body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

header {
  box-shadow: 4px 4px 4px rgba(218, 218, 218, 0.5);
  margin-bottom: 3rem;
  font-family: initial;
}

#header-black {
  background-color: rgb(47, 47, 47);
  padding: 0 8rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
}

#header-black li a {
  text-decoration: underline;
}

a {
  color: white;
  text-decoration: none;
}

header ul {
  display: flex;
  padding-left: 0;
}

header li {
  margin-left: 1rem;
}

#logo {
  height: 8rem;
  margin-top: -2rem;
  margin-left: -1rem;
}

#header-white {
  display: flex;
  padding: 0 8rem;
  justify-content: space-between;
  height: 4.5rem;
}

#header-white ul {
  list-style: none;
  margin-top: 0;
}

#header-white li :hover {
  color: orange;
}

#header-white li div {
  display: flex;
}

#header-white span {
  margin-top: 0.6rem;
  margin-right: 0.5rem;
  font-size: 2.6rem;
}

#input-cart input {
  height: 2rem;
  margin-top: 1rem;
  width: 15rem;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 2rem;
  border: 2px rgb(47, 47, 47) solid;
}

#input-cart input:hover {
  border-color: rgb(122, 113, 113);
}

#input-cart {
  display: flex;
}

#input-cart div {
  margin-top: 1.1rem;
  margin-left: 1.5rem;
  padding: 0.3rem;
  background-color: green;
  height: 1.6rem;
  width: 9rem;
  color: white;
  text-align: center;
}

main {
  padding: 0 8rem;
}


h1 {
  color: rgb(47, 47, 47);
  margin-bottom: 3rem;
}

.bold {
  font-weight: 600;
  font-size: 0.8rem;
}

#main-section {
  display: flex;
}

table {
  display: inline-block;
  width: 75%;
  text-align: left;
  font-size: small;
  
}

.table-images {
  width: 14rem;
  height: 10rem;
  margin-right: 1rem;
}

.item-card {
  display: flex;
}

.qty {
  width: 2rem;
  height: 2rem;
  border: 1.5px black solid;
  align-content: center;
  text-align: center;
}

#sidebar {
  margin-top: -1.3rem;
  margin-left: 1%;
  width: 24%;
}


aside {
  
  font-size: small;
  font-weight: bold;
}

#summary {
  margin: 0.8rem;
}

aside ul {
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-top: -0.6rem;
}

aside li {
  margin-bottom: 2px;
  padding: 0.8rem 0.5rem;
  background-color: rgb(244, 240, 240);
}

#summary {
  font-size: 1.8rem;
}

hr {
  background-color: rgb(244, 240, 240);
  height: 2px;
  border: 0;
}

.flex-calculate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#last-li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10rem;
}

#checkout-btn {
  padding: 0.5rem;
  margin: 0 auto;
  align-content: center;
  text-align: center;
  background-color: green;
  border: none;
  height: 1.6rem;
  width: 90%;
  color: white;
}

aside span {
  font-size: smaller;
  font-weight: lighter;
}

aside input {
  width: 95%;
  height: 2rem;
  border: 1.5px rgb(122, 113, 113) solid;
}

aside select {
  width: 98%;
  height: 2.3rem;
  border: 1.5px rgb(122, 113, 113) solid;
}

aside a {
  text-decoration: underline;
  display: block;
  color: black;
  font-size: smaller;
  font-weight: bold;
}

#checkout-last-div {
  margin: 0 auto;
}

#p-subtotal {
  margin-bottom: 0;
}

#after-table-div {
  display: flex;
  width: 75%;
  justify-content: space-between;
  margin-top: 2rem;
}

#discount-div {
  width: 15rem;
  height: 2rem;
  border: 2px rgb(47, 47, 47) solid;
  display: flex;
}

#discount-div input {
  border: 0;
}

#discount-div div {
  height: 100%;
  padding-left: 0.5rem;
  border-left: 2px rgb(47, 47, 47) solid;
  align-content: center;
  font-weight: bold;
}

#update-shopping-card {
  width: 15rem;
  height: 2rem;
  border: 2px rgb(47, 47, 47) solid;
  color: white;
  background-color: rgb(47, 47, 47);
  align-content: center;
  font-weight: bold;
  text-align: center;
}

footer {
  height: 8rem;
  padding: 0 8rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(47, 47, 47);
  align-items: center;
  text-align: center;
  font-family: initial;
}

footer ul {
  display: flex;
  list-style: none;
  color: white;
}

footer li {
  margin-right: 1rem;
}

.conditional-list-item {
  display: none;
  flex-direction: column;
}

.display-flex {
  display: flex;
}

.green {
  color: green;
}

.symbol {
  font-size: 1.5rem;
  font-weight: bold;
}

#checked-radio-btn {
  display: flex;
  align-items: center;
  color: black;
}

#li-calculate:hover {
  cursor: pointer;
}

#flat-rate {
  width: 1rem;
  height: 1rem;
  color: black;
  margin: 0;
  margin-right: 0.5rem;
  accent-color: black;
}
